.ajudar {
    margin-top: 100px;
}

.ajudar-title {
    font-size: 3rem;
    text-align: center;
    color: #023047;
}

.ajudar-texto {
    font-size: 1.5rem;
    text-align: center;
}

.ajuda {
    margin-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 40px;
    color: #1e1e1e !important;
    font-weight: 500;
}

.ajuda li {
    width: 500px;
    background: #f1f1f1;
    padding: 40px;
    border-radius: 8px;
    font-size: 1.5rem;
}

.ajuda li h1{
    position: relative;
    display: inline-block;
    color: #023047;
}

.ajuda li p {
    color: #023047;
}

.ajuda li h1::before{
    content: '';
    width: 40px;
    height: 5px;
    background: #FB8500;
    position: absolute;
}

.ajuda .button {
    padding: 30px 100px;
}

.dark-mode .ajuda li h1,
.dark-mode .ajuda li p {
    color: #023047;
}