body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode h1,
body.dark-mode p {
    color: #e0e0e0;
}

.bo

body.dark-mode a {
    color: #FB8500;
}

body.dark-mode .parceiros img {
    color: #fff;
}