.local {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.local-title {
    font-size: 3rem;
    color: #023047;
}

.local-text {
    font-size: 1.5rem;
}

.local-mapa {
    border-radius: 30px;
}

.dark-mode .local-title {
    color: #fff;
}