.sobre {
    margin-top: 100px;               /* Adiciona uma margem superior de 100px */
    display: grid;                   /* Define o layout como grid */
    grid-template-columns: 1fr 1fr;   /* Cria duas colunas de largura igual */
    gap: 20px;                       /* Define o espaço entre as colunas e as linhas como 20px */
    align-items: center;             /* Alinha os itens do grid verticalmente no centro */
}

.sobre-img {
    width: 100%;                     /* Define a largura da imagem como 100% do elemento pai */
    overflow: hidden;                /* Esconde qualquer conteúdo que ultrapasse o contêiner */
    border-radius: 8px;              /* Aplica bordas arredondadas de 8px */
}

.sobre-img img {
    width: 100%;                     /* A imagem ocupa 100% da largura do contêiner */
    height: 100%;                    /* A imagem ocupa 100% da altura do contêiner */
    object-fit: cover;               /* A imagem é ajustada para cobrir todo o contêiner, mantendo a proporção */
    display: block;                  /* Impede o aparecimento de espaços abaixo da imagem */
}

.sobre-title {
    font-size: 3rem;                 /* Define o tamanho da fonte como 3rem */
    line-height: 1;                  /* Define a altura da linha como 1, para ajuste do espaçamento entre linhas */
    color: var(--cor-2-b);           /* Define a cor do texto como a cor azul escura definida pela variável --cor-2-b */
}

.sobre-text {
    font-size: 1.5rem;               /* Define o tamanho da fonte como 1.5rem */
}
