:root {
    --cor-1-b: #FB8500;
    --cor-1-b2: #d67200;

    --cor-2-b: #023047;
    --cor-2-b2: #011f2e;

    --cor-3-b: #fff;
}

body.dark-mode {
    --cor-1-b: #FB8500;
    --cor-1-b2: #d67200;

    --cor-2-b: #FB8500;
    --cor-2-b2: #d67200;

    --cor-3-b: #fff;
}

body.dark-mode .azul {
    color: #FB8500;
}

