@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("./css/global.css");
@import url("./css/utilitarios.css");
@import url("./css/header.css");
@import url("./css/main.css");
@import url("./css/ods.css");
@import url("./css/sobre.css");
@import url("./css/ajudar.css");
@import url("./css/parceiros.css");
@import url("./css/local.css");
@import url("./css/dark-mode.css");
@import url("./css/variaveis.css");
@import url("./css/newsletter.css");
@import url("./css/footer.css");

@import url("./css/sobre/intro-sobre.css");
@import url("./css/sobre/objetivos.css");
@import url("./css/sobre/historia.css");
@import url("./css/sobre/valores.css");

@import url("./css/voluntarios/voluntario.css");
@import url("./css/voluntarios/voluntariar.css");
@import url("./css/voluntarios/atividades.css");
@import url("./css/voluntarios/form-voluntarios.css");
@import url("./css/voluntarios/faq-voluntarios.css");
