.objetivos {
    margin-top: 50px; /* Adiciona uma margem superior de 50px à seção de objetivos */
}

.objetivos-title {
    font-size: 3rem; /* Define o tamanho da fonte do título da seção de objetivos */
    color: var(--cor-2-b); /* Define a cor do título usando a variável --cor-2-b */
}

.objetivos p {
    font-size: 1.5rem; /* Define o tamanho da fonte do parágrafo dentro da seção de objetivos */
    text-align: center; /* Centraliza o texto do parágrafo */
    width: 30ch; /* Define a largura do parágrafo em 30 caracteres */
}

.objetivos ul {
    margin-top: 20px; /* Adiciona uma margem superior de 20px à lista de objetivos */
    display: flex; /* Usa o modelo flexbox para dispor os itens da lista */
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte, se necessário */
    justify-content: space-between; /* Distribui os itens igualmente ao longo da linha */
    gap: 20px; /* Adiciona um espaçamento de 20px entre os itens */
}

.objetivos ul li {
    cursor: pointer; /* Muda o cursor para um ponteiro (mão) quando passa sobre os itens */
    background: #f1f1f1; /* Define o fundo dos itens da lista como uma cor clara */
    padding: 50px; /* Adiciona um padding de 50px aos itens */
    border-radius: 8px; /* Arredonda as bordas dos itens */
    transition: .2s; /* Adiciona uma transição suave de 0.2s para mudanças de estilo */
}

.objetivos ul li:hover {
    scale: 1.01; /* Aplica um pequeno aumento de escala quando o item é focado (hover) */
}

.obj-title {
    font-size: 2rem; /* Define o tamanho da fonte do título dentro de cada item de objetivo */
    color: var(--cor-2-b); /* Define a cor do título com a variável --cor-2-b */
    text-align: center; /* Centraliza o texto do título */
    position: relative; /* Permite posicionamento relativo dentro do item */
}
