.artigos {
    margin-top: 50px; /* Adiciona uma margem superior de 50px à seção de artigos */
}

.artigos h1 {
    font-size: 3rem; /* Define o tamanho da fonte do título como 3rem */
    text-align: center; /* Alinha o título ao centro */
    color: var(--cor-2-b); /* Define a cor do título com a variável --cor-2-b */
}

.artigos p {
    font-size: 1.5rem; /* Define o tamanho da fonte do parágrafo como 1.5rem */
    text-align: center; /* Alinha o texto do parágrafo ao centro */
    margin-bottom: 0px !important; /* Remove a margem inferior do parágrafo, com !important para garantir que o estilo seja aplicado */
}
