#formulario-voluntarios {
    margin-top: 50px;
    border: none;
    padding: 30px;
    max-width: 800px;
    width: 100%;
}

.form > p {
    text-align: center;
    font-size: 1.5rem;
    margin: 10px !important;
}

.form {
    display: flex;
    flex-direction: column;
    color: var(--cor-2-b);
}

.form h2 {
    display: flex;
    font-size: 2rem;
    justify-content: center;
}

.form label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.form input,
.form select,
.form textarea {
    resize: none;
    border: 1px solid var(--cor-1-b);
    border-radius: 8px;
    background-color: #f1f1f1;
    padding: 12px;
    font-size: 1rem;
    margin-bottom: 15px;
    transition: border-color 0.3s;
}

.form input:focus,
.form select:focus,
.form textarea:focus {
    border-color: var(--cor-2-b);
    outline: none;
}

.form .buttons {
    display: flex;
    justify-content: space-between;
}

.form .buttons button {
    padding: 20px 50px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.form .buttons button[type="submit"] {
    background-color: var(--cor-1-b);
    color: #fff;
}

.form .buttons button[type="reset"] {
    background-color: var(--cor-2-b);
    color: #fff;
}

.form .buttons button[type="submit"]:hover {
    background-color: var(--cor-2-b);
}

.form .buttons button[type="reset"]:hover {
    background-color: var(--cor-2-b2);
}
